PROXI_FILE_PATH=./core/proxies.txt
POSTGRES_DB=movies_database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_MOVIES_TABLE=movies

ADMIN_PANEL_SECRET_KEY=secret
ADMIN_PANEL_DEBUG=true
ADMIN_PANEL_ALLOWED_HOSTS=127.0.0.1,localhost
USE_POSTGRES_IN_ADMIN_PANEL=true

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
MOVIES_INDEX=movies
SETTINGS_FILE=settings_index.json
MAPPINGS_FILE=mappings_index.json

REDIS_HOST=etl_redis
REDIS_PORT=6379